body {
  .App{
    h1{
      color:pink;
    }
    a{
      color:pink;
    }
    .bgblue{
        background: deepskyblue;
    }
    .big{
        font-size:18px;
    }
    .small{
        font-size:12px;
    }
  }
}
